.cart-info{
    background-color: #ABE2E9;
    border: 5px double rgb(114, 112, 110);
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
    max-height: 500px;
   
    
}
.rel-pos{
    position: relative;
}

.promo{
    display: inline;
   padding: 3px;
   width: 100%;
}
.btn-promo{
    display: inline;
    position: absolute ;
    right: 4px;
    top: 4px;
    border-radius: 0px !important;
    padding:2px;
    border-color: rgb(85, 87, 87);
    background-color: dimgray;
    
}
.span-promo{
    position: relative;
}
.card-header, .card-footer{
    background-color: #abe2e9ce !important;
    text-align: center;
   
}
.inc{
   
   
   width: 40px;
   height: 40px;
    
    border-radius: 50% !important;
    padding:8px;
   text-align: center;
   font-weight: 900;
   color: aliceblue;
    background-color: dimgray;
}
.count-cart{
    width: 40px;
   height: 40px;
    
    border-radius: 50%;
    padding:9px;
   text-align: center;
   font-weight: 900;
   
    
}

.chick{
    background-color: rgba(9, 203, 106, 0.87);
}
.chick0{
    background-color: rgba(55, 59, 57, 0.87);
}

.supmit-chik{
    
    border-radius: 16px !important;
    background-color: rgb(247, 204, 64);
    padding:5px 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    border-color: rgba(85, 87, 87, 0.329);
}
.supmit-chik:hover{
    background-color: rgba(119, 117, 107, 0.653);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    border-color: rgba(85, 87, 87, 0.329);
}